@media screen and (max-width: 1366px) {
	.top-content {
		padding-top: 50px;
	}
	.blurry-bg {
		width: 545px;
		height: 400px;
	}
	.carousel {
		max-width: 500px;
		height: 320px;
		&__slide {
			height: 320px;
		}
	}
	.flat {
		width: 210px;
		height: 140px;
	}
}
@media screen and (max-width: 1200px) {
	.description {
		padding-left: 60px;
	}
}

@media screen and (max-width: 992px) {
	body {
		font-size: 14px;
	}
	.carousel {
		max-width: 400px;
	}
	.description {
		padding-left: 30px;
		&__title {
			font-size: 29px;
		}
	}
	.blurry-bg {
		max-width: none;
	}
}

@media screen and (max-width: 768px) {
	.top-content {
		flex-direction: column-reverse;
		flex-wrap: wrap;
		align-items: center;
	}
	.description {
		padding-left: 0;
		margin-bottom: 30px;
		&__content {
			max-width: 430px;
		}
		&__title {
			font-size: 39px;
		}
		&__text {
			font-size: 20px;
		}
	}
	.more-flats {
		float: none;
		max-width: none;
	}
	.flat {
		width: 100%;
	}
}

@media screen and (max-width: 640px) {
	
}

@media screen and (max-width: 576px) {
	.description {
		&__title {
			font-size: 27px;
		}
		&__text {
			font-size: 14px;
		}
	}
	.carousel {
		height: 240px;
		max-width: 320px;
		&__slide {
			height: 240px;
		}
	}
	.carousel-name {
		font-size: 14px;
		padding: 7px 0;
	}
	.blurry-bg {
		width: 100%;
	}
	.more-flats {
		&__content {
			margin: 0 -5px;
		}
		&__flat {
			padding: 0 5px;
		}
	}
	.flat {
		height: 110px;
		&__name {
			font-size: 12px;
			padding: 5px 0;
		}
	}
}
@media screen and (max-width: 480px) {
	.flat {
		height: 80px;
		&__name {
			font-weight: normal;
			font-size: 10px;
			line-height: 1;
		}
	}
}
@media screen and (max-width: 320px) {
	
}
