<!-- FOOTER -->
	<footer class="footer">

	</footer>
<!-- end FOOTER -->

<!-- Подключение javscript -->
	<script src="js/libs.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.0.2/TweenMax.min.js"></script>
	<script src="js/common.js"></script>
<!-- end -->

</body>
</html>