//= partials/site/_header.html

<!-- CONTENT -->
<div class="content content-hide">
	
	<div class="container">
		
		<div class="top-content">

			<div class="blurry-bg" style="background-image: url(images/flats/itm-1.png);"></div>

			<div class="carousel-wrapper">
				<div class="carousel on-carousel">

					<div class="carousel__slide" style="background-image: url(images/flats/itm-1.png);">
						<a href="images/flats/itm-1.png" class="lightbox-slide"><img src="images/flats/itm-1.png" alt=""></a>
					</div>

					<div class="carousel__slide" style="background-image: url(images/flats/itm-2.png);">
						<a href="images/flats/itm-2.png" class="lightbox-slide"><img src="images/flats/itm-2.png" alt=""></a>
					</div>

					<div class="carousel__slide" style="background-image: url(images/flats/itm-3.png);">
						<a href="images/flats/itm-3.png" class="lightbox-slide"><img src="images/flats/itm-3.png" alt=""></a>
					</div>

				</div>

				<p class="carousel-name">Лисий Нос</p>
			</div>

			<div class="description">
				<div class="description__content">
					<h1 class="description__title title wow fadeInRight">Нами завершено более 360 ремонтов</h1>
					<p class="description__text wow fadeInRight" data-wow-delay=".5s">
						Посмотрите некоторые из них,<br> чтобы оценить качество нашей работы
					</p>
				</div>
			</div>

		</div>

		<div class="bottom-content clearfix">
			
			<div class="more-flats">

				<div class="more-flats__content" id="flats-main">
					
					<!-- <div class="more-flats__flat wow fadeInRight" data-wow-delay=".5s">
						<div class="flat" style="background-image: url(images/flats/itm-1.png);">
							<p class="flat__name">Лисий нос</p>
						</div>
					</div>-->
					
				</div>
				<div class="more-flats__content more-flats__content-hide" id="flats-other"></div>

				<p class="more-flats__load wow fadeInUp" data-wow-delay="1.4s"><a href="#" class="on-load-more">больше наших ремонтов</a></p>

			</div>

		</div>

	</div>

</div>
<!-- end CONTENT -->

//= partials/site/_footer.html
