@import "partials/_settings";	// Переменные
@import "partials/_fonts"; // Шрифты

// Main
html, 
body {
	width: 100%;
}
body {
	font-family: $font-regular;
	position: relative;
	line-height: 1.4;
	font-size: 18px;
	color: $color;
	overflow-x: hidden;
}
a {
	color: $color-link;
	transition: all .3s;
	&:hover,
	&:focus {
		color: $color-link-hover;
	}
}
input,
textarea,
button {
	outline: none;
	&:focus {
		outline: none;
	}
}
.clearfix:after {
	content: "";
	display: table;
	clear: both;
}

/////////////////////////////////////////

// Additional
.title {
	color: $color-title;
}

// HEADER
.header {

}

// FOOTER
.footer {

}

// CONTENT
.content {
	margin-bottom: 50px;
	transition: all .3s;
	&-hide {
		opacity: 0;
	}
}

.container {
	max-width: 1200px;
	padding: 0 15px;
	margin: 0 auto;
}
.top-content {
	padding-top: 110px;
	margin-bottom: 50px;

	display: flex;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
}
.blurry-bg {
	width: 735px;
	height: 570px;
	max-width: 50%;
	position: absolute;
	top: 0;
	left: 0;
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	
	overflow: hidden;
	opacity: .3;
	&:after {
		content: "";
		position: absolute;
		top: -10px;
		left: -10px;
		right: -10px;
		bottom: -10px;
		background: inherit;
		filter: blur(10px);
	}
}
.carousel-wrapper {
	position: relative;
	display: inline-block;
	box-shadow: 30px 50px 130px 0 rgba(0,0,0,.25); 
	background-color: #d3d3d3;
}
.carousel-name {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0,0,0,.5);
	text-align: center;
	color: #FFF;
	margin: 0;
	font-size: 20px;
	font-weight: bold;
	padding: 11px 0;
	letter-spacing: 1px;
}
.carousel {
	max-width: 530px;
	height: 350px;
	position: relative;
	*:focus {
		outline: none;
	}
	&__slide {
		height: 350px;
		background-size: cover;
		background-position: center center;
		background-repeat: no-repeat;
		img {
			max-width: 100%;
			max-height: 100%;
			opacity: 0;
			visibility: hidden;
		}
	}
	.slick-arrow {
		font-size: 0;
		border: none;
		position: absolute;
		top: 50%;
		transform: translate(0, -50%);
		z-index: 1;
		width: 28px;
		height: 55px;
		background-color: transparent;
		background-image: url(../images/icons/arrow-left.png);
		cursor: pointer;
		transition: all .3s;
		&.slick-prev {
			left: 18px;
			&:hover {
				transform: translate(-2px, -50%);
			}
		}
		&.slick-next {
			right: 18px;
			transform: translate(0, -50%) rotateY(180deg);
			&:hover {
				transform: translate(2px, -50%) rotateY(180deg);
			}
		}
	}
}

.description {
	width: 100%;
	z-index: 1;

	display: flex;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;

	align-items: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;

	padding-left: 120px;
	&__content {
		max-width: 350px;
	}
	&__title {
		line-height: 1.2;
		margin-bottom: 20px;
		visibility: hidden;
	}
	&__text {
		visibility: hidden;
	}
}

.bottom-content {
	
}
.more-flats {
	max-width: 760px;
	float: right;
	&__content {
		display: flex;
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		
		justify-content: space-between;
		-webkit-box-pack: justify;
		-webkit-justify-content: space-between;
		-ms-flex-pack: justify;

		flex-wrap: wrap;
		-webkit-flex-wrap: wrap;
		-ms-flex-wrap: wrap;

		margin: 0 -10px;
		&-hide {
			display: none;
		}
	}
	&__flat {
		padding: 0 10px;
		width: 33.33%;
		visibility: hidden;
	}
	&__load {
		padding-top: 20px;
		font-style: italic;
		text-align: center;
		visibility: hidden;
		a {
			border-bottom: 1px solid;
			&:hover {
				text-decoration: none;
			}
		}
	}
}
.flat {
	color: #FFF;
	width: 240px;
	height: 170px;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	position: relative;
	margin-bottom: 20px;
	cursor: pointer;
	overflow: hidden;
	&:after {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: inherit;
		transition: all .5s;
	}
	&:hover {
		&:after {
			transform: scale(1.05);
		}
	}
	&__name {
		position: absolute;
		z-index: 2;
		bottom: 0;
		left: 0;
		right: 0;
		background-color: rgba(0,0,0,.5);
		font-size: 14px;
		font-weight: bold;
		padding: 11px 0;
		margin: 0;
		text-align: center;
	}
}

@import "partials/_media"; //Всегда в конце
